:root {
  --background: #fff;
  --primary: #005f18;
  --second: #c7f2a4;
  --second-2: #e1ffb1;
  --font: #000;
}

/* bar */
.bar1 {
  padding-right: 7%;
}

.bar2 {
  padding-left: 40%;
}

.bar4 {
  padding-left: 25%;
}

.bar5 {
  padding-top: 10%;
}

.bar10 {
  padding-left: 10%;
}

/*  Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(90, 90, 90);
  border-radius: 20px;
  border: 3px solid transparent;
}

a {
  text-decoration: none;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/* navbar */

/* .navbar .button {
  padding-left: 5%;
} */

/* .navbar .col {
  padding-left: 5%;
} */

.navbar-brand span {
  color: var(--primary);
  font-size: 40px;
}

nav {
  background-color: #8f8f8f;
}

.navbar li {
  padding-top: 2%;
}

.navbar-nav a {
  font-size: 20px;
  transition: 1.5s;
}

.navbar-nav li {
  padding-left: 30px;

  transition: 0.2s;
}

.navbar-brand {
  transition: 0.2s;
}

/* header */

/* #header {
  background: linear-gradient(to bottom, #c7f2a4, #c7f2a4, rgb(216, 216, 216));
  box-shadow: 0px 5px 5px rgb(185, 185, 185);
  padding: 10%;
  padding-top: 4%;
}

#header .carousel-inner {
  width: 100px;
}

#header h1 {
  padding-bottom: 5%;
} */

#header {
  /* background: linear-gradient(to bottom, #c7f2a4, #ffffff, rgb(255, 255, 255)); */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

#header h1 {
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 2%;
}

#header button {
}

/* about */

#about {
  padding-left: 12%;
}

#about h1 {
  padding-top: 5%;
  align-items: center;
}

#about .paragrap {
  font-size: 21px;
  text-decoration: none;
  list-style: none;
  text-align: justify;
}

#about img {
  padding-right: 13%;
}

#about span {
  color: var(--primary);
}

#about a {
  color: var(--primary);
  transition: 1.2s;
}

#about a:hover {
  color: #b6e388;
  padding-left: 10px;
}

/* macam mcacam */
#ebt {
  padding-top: 17%;
  align-items: center;
  text-align: center;
}

#ebt h1 {
  text-align: center;
}

#ebt span {
  color: var(--primary);
}

#ebt .wrapper {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ebt .image {
  width: 350px;
  position: relative;
  float: left;
}

#ebt img {
  width: 100%;
  display: block;
  margin: auto;
}

#ebt .content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(226, 226, 226, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

#ebt .content:hover {
  opacity: 1;
}

#ebt .content h2 {
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 15px;
}

#ebt .content p {
  font-size: 19px;
  color: #fff;
}

#ebt .content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

#ebt p:hover {
  color: var(--second);
}

/* macam ebt */

#macamebt {
  padding-top: 10%;
}

#macamebt a {
  text-decoration: none;
  color: var(--primary);
  transition: 1.4s;
}

#macamebt a:hover {
  color: #b6e388;
  padding-left: 10px;
}

#macamebt h1 {
  text-align: center;
  color: var(--primary);
}

#macamebt span {
  color: var(--primary);
  font-size: 40px;
}

#macamebt img {
  width: 40%;
  padding-right: 13%;
}

#macamebt h2 {
  padding-top: 10%;
  padding-left: 8%;
}

#macamebt .paragrap {
  text-align: justify;
  font-size: 21px;
  padding-left: 8%;
  text-decoration: none;
  list-style: none;
}

#macamebt .paragraf {
  font-size: 21px;
  list-style: none;
  padding-left: 60%;
}

#macamebt .img2 {
  border-radius: 10px;
  padding-left: 8%;
}

#macamebt .bayu {
  padding-top: 10%;
  padding-left: 60%;
}

/* footer */

/* footer hr {
  width: 100%;
  border: 1px solid red;
}

footer {
  color: #ffffff;
  padding-top: 100%;
  background: var(--primary);
}

footer a {
  color: #ffffff;
}

footer {
  text-decoration: none;
}

footer a:hover {
  color: rgb(185, 185, 185);
} */

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* ul {
  list-style: none;
}

li {
  list-style: none;
} */

.footer {
  background-color: var(--primary);
  padding: 35px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(0, 3, 255, 0.8);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgba(0, 3, 255, 0.8);
  padding-left: 8px;
}
.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 10px 10px 0;
  transition: all 0.5s ease;
}
.footer-col .social-media a:hover {
  color: rgba(0, 3, 255, 0.8);
  background-color: rgba(236, 236, 236, 0.8);
}
.fixed-footer {
  width: 100%;
  position: relative;
  background: #dddddd;
  margin: 0 10px 10px 0;
  padding: 10px 0;
  color: rgb(0, 0, 0);
  text-align: center;
}
.fixed-footer {
  bottom: 0;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* hover */
#ebt .content:hover > * {
  transform: translateY(0px);
}

.navbar-nav a:hover {
  text-align: center;
  background-color: #005f18;
  border-radius: 20px;
  color: #fff;
}
